<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/dist/output.css" rel="stylesheet">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>login</title>
</head>

<body>
    <h1>login page hai bhai</h1>

    <form action="/login" method="post">
        <input type="email" name="email">email <br><br>
        <input type="text" name="pass">pass <br> <br>
        <button type="submit">submit</button>
        <br>
        <a href="forgot-pass">forgotpass</a>

    </form>


</body>

</html>