<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
<<<<<<< HEAD
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-pzjw8f+ua6O+K9giK9BdSK6z1mFp17Mv5r5Pp3Dbw0zlb/JD5b6d6F5F5D0DO/r5bF" crossorigin="anonymous">
=======
    <link rel="stylesheet" type="text/css" href="/css/style.css">
>>>>>>> be7e2db10608bfb1505ec2a324f2e620bc0a0904
</head>
<body>
    <h1>reset pass for <%= email%> </h1>
    
    <form action="" method="post">
        <label for="password">password</label>
        <input type="text" name="password" id="password" >
        <br>
        <label for="password2">confirm password</label>
        <input type="text" name="password2" id="password2" >
        <button type="submit">send</button>
    </form>
</body>
</html>