<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>
    <h1>reset pass for <%= email%> </h1>
    
    <form action="" method="post">
        <label for="password">password</label>
        <input type="text" name="password" id="password" >
        <br>
        <label for="password2">confirm password</label>
        <input type="text" name="password2" id="password2" >
        <button type="submit">send</button>
    </form>
</body>
</html>