<!-- user-details.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <!-- ... (head content) ... -->
    <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>
    <h1>User Details</h1>

    <div>
        
        <p>Name: <%= userDetails.name %></p>
        <p>contact: <%= userDetails.contact %></p>
        <p>Location: <%= userDetails.location %></p>
        <% userDetails.image.forEach(function(img) { %>
            <img src="<%= img.url %>" >
        <% }); %>
    </div>
</body>
</html>
