@import url("https://fonts.googleapis.com/css2?family=Baloo+2&display=swap");

/* Variables */
:root {
  --main-green: #79dd09;
  --main-green-rgb-015: rgba(121, 221, 9, 0.1);
  --main-yellow: #bdbb49;
  --main-yellow-rgb-015: rgba(189, 187, 73, 0.1);
  --main-red: #bd150b;
  --main-red-rgb-015: rgba(189, 21, 11, 0.1);
  --main-blue: #0076bd;
  --main-blue-rgb-015: rgba(0, 118, 189, 0.1);
}

/* This pen */
body {
  font-family: "Baloo 2", cursive;
  font-size: 16px;
  text-rendering: optimizeLegibility;
  font-weight: initial;
}

.dark {
  background: #110f16;
}

.light {
  background: #f3f5f7;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
}

.text-dark{
  display: flex;
  flex-direction: column;
}

a,
a:hover {
  text-decoration: none;
  transition: color 0.3s ease-in-out;
}

#pageHeaderTitle {
  margin: 0.5rem 0;
  text-transform: uppercase;
  text-align: center;
  font-size: 2.5rem;
}


.container{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
  flex-wrap: wrap;
  gap: 5%;
}

.postcard_link{
  width: 45%;
}

.postcard{
  background-color: #e1e5ea;
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 1.5rem;
  box-shadow: 0 4px 21px -12px rgba(0, 0, 0, 0.66);
  border-radius: 10px;
  margin: 0 0 1.2rem 0;
}

.container > .postcard:only-child{
  width: 90%;
}

.postcard__img_link{
}

.postcard__img{
  width: 220px;
  height: 220px;
  object-fit: cover;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}



.postcard__text  {
  width: 70%;
}

.postcard__tagbox{
  display: flex;
  flex-flow: row wrap;
  font-size: 14px;
  margin: 20px 0 0 0;
  padding: 0;
  justify-content: center;
}

.postcard__tagbox li{
  display: inline-block;
  background: rgba(83, 83, 83, 0.4);
  border-radius: 3px;
  padding: 2.5px 10px;
  margin: 0 5px 5px 0;
  cursor: default;
  user-select: none;
  transition: background-color 0.3s;
}

.postcard__preview-txt{
  width: 90%;
}

.postcard .postcard__bar {
  width: 50px;
  height: 5px;
  margin: 5px 0;
  border-radius: 5px;
  transition: width 0.2s ease;
}

.green-text.postcard__bar{
  background-color: #19a419;
}

.red-text.postcard__bar{
  background-color: red;
}

.postcard:hover .postcard__bar {
  width: 100px;
}


.green-text {
  color: #19a419;
  font-weight: bold;
}

.red-text {
  color: red;
  font-weight: bold;
}

@media only screen and (max-width: 1023px) {
  .postcard_link{
    width: 90%;
  }
}


.serarchform.active{
  z-index: -1;
}